body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

p {
  font-size: 1.2rem;
  opacity: 0.8;
}